{% extends "padre.html" %}
{% load static %}

{% block contenido %}
   
   <div class="container">
        <div class="row">
            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/eddie.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Matias B</h5>
                        <p class="card-text">Me gusto mucho el curso</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                        <a href="{% url 'logout' %}" class="btn btn-danger">LogOut</a>
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning">Editar</a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <a href="" class="btn btn-danger">LogOut</a>

{% endblock %}
